@font-face 
{
	font-family: 'BreeSerif-Regular';
	src: url('czcionka/BreeSerif-Regular.otf');
}

html, body, div, span, h1, h2, h3, p, a, img, ul, li, fieldset, form, label, legend 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	font-family: 'BreeSerif-Regular', sans-serif;
    color: white;
}

body, html
{
    height:100%;
}

#doswiadczenie_link
{
    color: blue;
}

div#container
{
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
}

div#container_from_potwierdzenie
{
    width: 100%; 
    height: 86%; 
    margin: 0 auto;
}

/*-----------------------------------------------------------*/
.navigation
{
    width: 100%;
    top: -350px;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 300;
    border-bottom: 3px solid white;
}

.nav
{
    width: 90%;
}

.navigation a 
{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

.navigation a:hover
{
    background-color: white;
    color: black;
    top:20px;
}

.hamburger_mobile
{
    display: none;
}
/*-------------------------------------------------------------------------*/

div#first_page
{
    width: 100%; 
    min-height: 100%;
    -webkit-transform: translateZ(0x);
    background-image: url(images/aerial-view-of-camera-and-digital-tablet-on-wooden-table.jpg);
    background-attachment: fixed;
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    -o-background-size: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

#section_content h2 a
{
    color: red;
}

@keyframes slide
{
    0%{transform: translateY(0);}
    100%{transform: translateY(50px);}
}

#text_content 
{
	width: 100%;
	position: relative;
	display: block;
	background-color: #fff;
}
/*-------------------------------------------------------------------------------------------*/
.slidingBorder 
{
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.slidingBorder:before 
{
    content: '';
    display: block;
    height: 3px;
  
    width: 0;
    background: transparent;
    transition: width .5s ease;
}

.slidingBorder:after 
{
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    transition: width 1s ease;
}
 
.slidingBorder:hover:after 
{
    width: 100%;
    background: white;
}

.image_section1
{
    width:100%;
    height:400px;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    -o-background-size: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-transform: translateZ(0);
    background-image: url(images/new-zealand-679068_1920.jpg);
}

.image_section2
{
    width:100%;
    height:400px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/road-220058_1280.jpg);
}

.image_section3
{
    width:100%;
    height:400px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/rio-grande-river-1581917_1920.jpg);
}

#section_image
{
    float: left;
}

#ski
{
    height: 20px;
    width: auto;
}

#section_content h2
{
    font-size: 50px;
    border-left: 4px solid white;
    margin-bottom: 40px;
    padding-left: 20px;
}
/*--------------------------------------------------------------------------------------------*/
#column
{
    position: relative;
    width: 80%;
    height: -webkit-fill-available;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: center;
}

.service_box
{
    width: 150px;
    margin: 50px auto 0;
    display: inline-block;
    margin-right: 10px;
    transition: all .2s ease-in-out;
}

.service_box:hover 
{ 
    transform: scale(1.15); 
}

.ground
{
    background: white;
    height: 150px;
    padding: 18px;
}

.first_half
{
    position: relative;
    height: 60%;
    width: 100%;
}

.second_half
{
    position: relative;
    height: 40%;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    margin-top: 10px;
}

#img_service
{
    height: 100%;
}

.second_half p
{
    line-height: 60px;
    font-size: 25px;
}

#form
{
    width:100%;
    display: block;
}

#my_form
{
    margin-left: 30px;
}

.backlight
{
    height: 89%;
    border-right: 4px solid black;
    padding: 5px;
    background-color: red !important;
}

#name
{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    font-size: 18px;
    font-family: 'BreeSerif-Regular', sans-serif;
}

#submit:hover
{
    display: block;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 1s;
    color: black;
    font-size: 16px;
    font-family: 'BreeSerif-Regular', sans-serif;
}

.display_alert
{
    background-color: maroon;
    width: 50.5%;
    font-size: 15px;
    padding-left: 10px;
    display: none;
    
}

/*--------------RWD 2100----------------------------------------------------*/
@media only screen and (max-width: 2100px) 
{
    #first_page_content
    {
        position: relative;
        width: 1400px;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 95px;
        color: white;
    }
    
    #computer_img
    {
        height: 150px;
        width: 150px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 130px;
        width: 130px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    .text
    {
        font-size: 33px;
    }
    
        #section_image img
    {
        border-radius: 500px;
        width:90%;
    }
    
    #section_content
    {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 100px 100px 100px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 830px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 597px;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 51%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
        font-size: 22px;
    }
    
    .footer_content_left
    {
        width: 50%;
        padding-left:120px;
        padding-top:5px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left:120px;
        padding-top:5px;
    }
}

/*--------------RWD 1600----------------------------------------------------*/
@media only screen and (max-width: 1600px) 
{
    #first_page_content
    {
        position: relative;
        width: 1100px;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 75px;
        color: white;
    }
    
    #computer_img
    {
        height: 110px;
        width: 110px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 110px;
        width: 110px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    .text
    {
        font-size: 25px;
    }
    
        #section_image img
    {
        border-radius: 500px;
        width:90%;
    }
    
    #section_content
    {
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 100px 100px 100px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 630px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 450px;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 52%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
    }
    
    .footer_content_left
    {
        width: 50%;
        padding-left:120px;
        padding-top:5px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left:120px;
        padding-top:5px;
    }
}

/*--------------RWD 1390----------------------------------------------------*/
@media only screen and (max-width: 1390px) 
{
    #first_page_content
    {
        position: relative;
        width: 900px;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 70px;
        color: white;
    }
    
    #computer_img
    {
        height: 100 px;
        width: 100 px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
    }
    
    .footer_content_left
    {
        width: 50%;
        padding-left:50px;
        padding-top:5px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left:120px;
        padding-top:5px;
    }
}

/*--------------RWD 1100----------------------------------------------------*/
@media only screen and (max-width: 1100px) 
{
     #first_page_content
    {
        position: relative;
        width: 700px;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 80px;
        color: white;
    }
    
    #computer_img
    {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    #section_image img
    {
        border-radius: 500px;
        width:90%;
    }
    
    #section_content
    {
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 100px 100px 100px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 740px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 52%;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 52%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
    }
    
    .footer_content_left
    {
        width: 60%;
        padding-left:40px;
        padding-top:5px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left:120px;
        padding-top:5px;
    }
    
    .ground
    {
        background: white;
        height: 115px;
        padding: 18px;
    }
}

/*--------------RWD 900----------------------------------------------------*/
@media only screen and (max-width: 900px) 
{
     #first_page_content
    {
        position: relative;
        width: 600px;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 70px;
        color: white;
    }
    
    #computer_img
    {
        height: 90px;
        width: 90px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 80px;
        width: 80px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    #section_image img
    {
        border-radius: 500px;
        width:80%;
    }
    
    #section_content
    {
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 100px 100px 100px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 630px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 72%;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 72%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
    }
    
    .footer_content_left
    {
        width: 85%;
        padding-left:20px;
        padding-top:5px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left:12px;
        padding-top:5px;
    }
    
    .text
    {
        font-size: 19px;
    }
    
    #section_content h2
    {
        font-size: 40px;
    }
    
    .display_alert
    {
        width: 70.5%;
        display: none;

    }
}

/*--------------RWD 768----------------------------------------------------*/
@media only screen and (max-width: 768px)
{
    #first_page_content
    {
        position: relative;
        width: 100%;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 67px;
        color: white;
    }
    
    #computer_img
    {
        height: 90px;
        width: 90px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 80px;
        width: 80px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    #section_image img
    {
        border-radius: 500px;
        width:60%;
    }
    
    #section_content
    {
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 100px 100px 100px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 630px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 95%;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 95%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
        font-size: 15px;
    }
    
    .footer_content_left
    {
        width: 90%;
        padding-left: 24px;
        padding-top:5px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left:12px;
        padding-top:5px;
    }
    
    .text
    {
        font-size: 15px;
    }
    
    #section_content h2
    {
        font-size: 36px;
    }
    
    #section_image
    {
        float: none;
        margin: 0 auto;
    }
    
    #column
    {
        width: 94%;
    }
    
    .ground
    {
        padding: 13px;
    }
    
    .display_alert
    {
        width: 92.5%;
        display: none;

    }
    .navigation a
    {
        float: none;
    }
    
    .nav
    {
        width: 100%;
    }
    
    .navigation
    {
        width: 100%;
    }
    
    .mobile_nav
    {
        text-align: right;
        width: 90%;
    }
    
    .hamburger_mobile
    {
        display: block;
        width: 30px;
        padding-right: 20px;
        padding-bottom: 2px;
        cursor:pointer;
        float: right;
    }
}

/*--------------RWD 600------------------tu juz hamburger----------------------------------*/
@media only screen and (max-width: 600px)
{
    #first_page_content
    {
        position: relative;
        width: 100%;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 55px;
        color: white;
    }
    
    #computer_img
    {
        height: 90px;
        width: 90px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 80px;
        width: 80px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
        #section_image img
    {
        border-radius: 500px;
        width:60%;
    }
    
    #section_content
    {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 20px 100px 20px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 630px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 95%;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 95%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
    }
    
    .footer_content_left
    {
        width: 50%;
        padding-left: 7px;
        padding-top:10px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 50%;
        padding-left: 7px;
        padding-top:10px;
    }
    
    .text
    {
        font-size: 15px;
    }
    
    #section_content h2
    {
        font-size: 36px;
    }
    
    #section_image
    {
        float: none;
        margin: 0 auto;
    }
    
    #column
    {
        width: 94%;
    }
    
    .ground
    {
        padding: 13px;
    }
    
    .display_alert
    {
        width: 92.5%;
        display: none;

    }
    
    .service_box
    {
        width: 110px;
    }
    
    .second_half p
    {
        line-height: 60px;
        font-size: 20px;
    }
}

/*--------------RWD 480----------------------------------------------------*/
@media only screen and (max-width: 480px)
{
    #first_page_content
    {
        position: relative;
        width: 100%;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 32px;
        color: white;
    }
    
    #computer_img
    {
        height: 90px;
        width: 90px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 60px;
        width: 60px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    #section_image img
    {
        border-radius: 500px;
        width:60%;
    }
    
    #section_content
    {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 20px 100px 20px;
        word-wrap: break-word;
    }
    
    .black_section
    {
        width: 100%;
        height: 630px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.94;
    }
    
    .input
    {
        width: 95%;
        height: 35px;
        margin-bottom: 25px;
        display: flex;
        background-color: white;
    }

    .input img
    {
        height: 89%;
        border-right: 4px solid black;
        padding: 5px;
        background-color: dimgray;
    }
    
    #email
    {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        font-size: 18px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #message
    {
        width: 95%;
        height: 80px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'BreeSerif-Regular', sans-serif;
    }

    #submit
    {
        display: block;
        width: 140px;
        height: 40px;
        margin-top: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'BreeSerif-Regular', sans-serif;
        cursor: pointer;
    }
    
    .footer
    {
        width: 100%; 
        height: 100px; 
        background-color: black; 
        border-top: 5px solid white;
        display: inline-flex;
    }
    
    .footer_content_left
    {
        width: 65%;
        padding-left: 5px;
        padding-top:10px;
        box-sizing: border-box;
    }
    
    .footer_content_right
    {
        width: 35%;
        padding-left: 7px;
        padding-top:10px;
    }
    
    .text
    {
        font-size: 14px;
    }
    
    #section_content h2
    {
        font-size: 27px;
    }
    
    #section_image
    {
        float: none;
        margin: 0 auto;
    }
    
    #column
    {
        width: 94%;
    }
    
    .ground
    {
        padding: 13px;
    }
    
    .display_alert
    {
        width: 92.5%;
        display: none;

    }
    
    .service_box
    {
        width: 110px;
        margin: 10px auto 0;
    }
    
    .second_half p
    {
        line-height: 60px;
        font-size: 20px;
    }
    
    #section_image img
    {
        border-radius: 100px;
        width:50%;
    }
    
    #my_form
    {
        margin: 0;
    }
}

/*--------------RWD 320----------------------------------------------------*/
@media only screen and (max-width: 320px) 
{
    #first_page_content
    {
        position: relative;
        width: 100%;
        height: 80%;
        margin: auto;
        top:0; bottom:0; /* wyrównanie w pionie */
        left:0; right:0; /* wyrównanie w poziomie */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
        padding: 50px;
    }
    
    #first_page_content h1, h3
    {
        text-align: center;
        font-size: 28px;
        color: white;
    }
    
    #computer_img
    {
        height: 80px;
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    
    #arrow_img
    {
        height: 60px;
        width: 60px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        animation: slide 2s linear infinite none;
    }
    
    .black_section
    {
        width: 100%;
        height: 680px;
    }
}